---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<h1 class="text-6xl text-white">
		white
	</h1>
	<button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">Subscribe</button>
</Layout>

<style>

</style>
